.App {
  text-align: center;
}

body {
  background-color: #121212; /* Dark Grey */
  color: #E0E0E0; /* Light Grey */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #FF2800; /* Ferrari Orange */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Ferrari Orange Accent */
.orange-accent {
  color: #FF2800; /* Ferrari Orange */
}
